footer {
  padding: 2rem 0 1.5rem;
  border-top: 2px solid silver;
  marign-top: 10px;
  justify-content: space-between;
  align-items: baseline; }

.social-buttons {
  padding-left: 5px; }
  .social-buttons a {
    padding-left: 5px; }

.footer-block-login {
  opacity: .5;
  padding-top: 5px;
  text-align: center; }
