/*home*/
section.carousel-section {
  padding: 0;
  margin: 0 -15px; }
  section.carousel-section .carousel-caption {
    text-shadow: 0 0 4px black; }
    section.carousel-section .carousel-caption h3 {
      text-transform: uppercase; }
    section.carousel-section .carousel-caption .carousel-description {
      padding: 1rem 0; }
  section.carousel-section .item button {
    margin-top: 1rem; }
  section.carousel-section .item img {
    filter: brightness(0.8); }
  section.carousel-section .item-1 .carousel-caption {
    text-align: left; }
  section.carousel-section .item-2 .carousel-caption {
    text-align: right; }

.portfolio-block-header {
  text-transform: uppercase; }

.portfolio-block-description {
  padding: 14px 0; }

.btn-round {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.about-us-section {
  align-items: center; }

.about-photo-section .flex {
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem; }

.about-photo-section .about-photo-description {
  padding-left: 2rem; }

@media screen and (min-width: 768px) {
  .carousel-caption {
    height: 40%; } }

/*endhome*/
/*contacts*/
.contact .social-buttons {
  margin-left: -10px; }
  .contact .social-buttons a svg {
    width: 36px !important;
    height: 36px !important;
    background-color: white;
    border-radius: 0.875rem; }

.contact .contact-block {
  padding-top: 8%; }

.contact .contact-phone {
  font-size: 2rem;
  padding-bottom: 1rem; }

.contact .contact-phone, .contact address {
  padding-top: 1rem; }

/*endcontacts*/
/*service*/
.service .service-price {
  font-size: 18px; }
  .service .service-price b {
    padding-right: 10px; }

.service .service-description {
  padding: 1rem 0 1.5rem 0; }
  .service .service-description ul {
    padding-top: 1rem; }

.service .service-block {
  padding: 30px; }

/*endservice*/
/*portfolio*/
.portfolio-image {
  padding-top: 2rem;
  min-height: 262px; }

/*endportfolio*/
/*about*/
.about .about-free-photo {
  align-items: center; }

.about input {
  padding: 1rem 2rem;
  margin-top: 2rem;
  width: 300px;
  border: 1px solid #6f4a37; }

/*endabout*/
/*manage*/
.manage .tab-pane {
  padding-top: 1rem; }

.albums, .categories {
  padding-bottom: 3rem; }

.manage-item, .add-album, .add-category {
  justify-content: space-between;
  align-items: center; }

.add-album, .add-category {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600; }

.manage-item {
  padding-top: 1rem;
  border-bottom: 1px solid #eeeeee21; }
  .manage-item a, .manage-item a:hover {
    text-decoration: none; }

.photo-row {
  margin-left: -6px; }

.photo-block {
  padding: 6px;
  min-height: 200px; }

.photo-container {
  position: relative; }
  .photo-container .item-delete {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #ffffffd6;
    box-shadow: -1px 1px 4px #ffffff; }

.album-header {
  font-weight: 600;
  font-size: 18px;
  padding-top: 25px;
  margin-bottom: -10px;
  padding-left: 20px;
  position: relative;
  overflow: hidden; }
  .album-header:before {
    content: '';
    height: 8px;
    width: 8px;
    background: white;
    position: absolute;
    bottom: 10px;
    left: 5px;
    border-radius: 10px; }
  .album-header:after {
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    bottom: 11px;
    opacity: .2;
    margin-left: 11px; }

/*.booking-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
}*/
/*endmanage*/
@media (max-width: 992px) {
  .photo-container {
    min-height: 240px; } }

@media (max-width: 768px) {
  .header-menu--logo {
    padding-left: 10px; }
  .booking-email, .booking-comment, .carousel-description {
    display: none; }
  th.booking-comment + th {
    display: none; }
  .about .col-xs-12.col-sm-8, .about .col-xs-12.col-sm-4 {
    padding-bottom: 10px; }
  .footer-block.flex {
    flex-direction: column; } }

@media (max-width: 375px) {
  body {
    width: 375px; } }
