@{
    ViewBag.Title = "About";
}
<div class="container-fluid img-background about">
    <section class="">
        <h1 class="c-t-1">О фотографе</h1>
    </section>
</div>

<div class="container about">
    <section>
        <div class="row p-t-md p-b-md">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h2 class="c-t-1">
                    Some Of Our Work
                </h2>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.
                </div>
            </div>
        </div>
        <div class="row p-t-md">
            <div class="col-xs-12 col-md-8">
                <img src="~/images/About/item(1).jpg" />
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="~/images/About/item(3).jpg" />
            </div>
        </div>
        <div class="row p-t-md">
            <div class="col-xs-12 col-md-4">
                <img src="~/images/About/item(5).jpg" />
            </div>
            <div class="col-xs-12 col-md-8">
                <img src="~/images/About/item(2).jpg" />
            </div>
        </div>
    </section>
    <hr />
    <section>
        <div class="row flex about-free-photo">
            <div class="col-xs-12 col-md-5 col-md-offset-2 text-center">
                <h3 class="c-t-1 p-b-md">Хочешь бесплатную фотосессию?</h3>
                <div>
                    Если у тебя есть необычная и интересная идея для фотосессии, напиши мне.
                    <br/>
                    Если твоя идея меня заинтересует, мы сможем реализовать её по сниженной цене или бесплатно.
                </div>
                <div class="p-t-md">
                    <button class="btn btn-yellow">Оставить заявку</button>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <img src="~/images/About/item(11).jpg" />
            </div>
        </div>
    </section>
    <hr/>
    <section>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="portfolio-image">
                    <img src="~/images/About/item(4).jpg" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="portfolio-image">
                    <img src="~/images/About/item(7).jpg" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="portfolio-image">
                    <img src="~/images/About/item(4).jpg" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="portfolio-image">
                    <img src="~/images/About/item(7).jpg" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="portfolio-image">
                    <img src="~/images/About/item(4).jpg" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="portfolio-image">
                    <img src="~/images/About/item(7).jpg" />
                </div>
            </div>
        </div>
    </section>
    <hr/>
    <section>
        <div class="conteiner">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 p-b-md text-center">
                    <h2 class="c-t-1">
                        Some Of Our Work
                    </h2>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.
                    </div>
                    <div class="form-inline">
                        <form>
                            <input type="email" placeholder="Ваш e-mail" />
                            <button type="submit" class="btn btn-yellow">Подписаться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>