@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <section class="carousel-section">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item item-1 active">
                    <img src="~/images/Carousel/item_1.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>Профессиональная обработка</h3>
                        <div class="carousel-description">
                            Ретушь фотографий, наложение фильтров, исправление дефектов<br />включены в стоимость фотосессии.
                        </div>
                        <button class="btn btn-yellow">Записаться</button>
                    </div>
                </div>
                <div class="item item-2">
                    <img src="~/images/Carousel/item_2.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>Интересные локации</h3>
                        <div class="carousel-description">
                            Подберем необычные красивые места для съемки,<br />от фотостудий до крыш новостроек.
                        </div>
                        <button class="btn btn-yellow">Записаться</button>
                    </div>
                </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </section>
</div>

<div class="container">
    <section class="portfolio-section">
        <div class="row">
            <div class="col-md-4 portfolio-block">
                <h3 class="portfolio-block-header">
                    <a class="c-l-1">
                        Свежее
                    </a>
                </h3>
                <img src="~/images/Service/item4.jpg" />
                <div class="portfolio-block-description">
                    В этом разделе представлены самые свежие фотосессии
                </div>
            </div>
            <div class="col-md-4 portfolio-block">
                <h3 class="portfolio-block-header">
                    <a class="c-l-1">
                        Креативное
                    </a>
                </h3>
                <img src="~/images/Service/item2.jpg" />
                <div class="portfolio-block-description">
                    Воплощение самых необычных идей в фотографии
                </div>
            </div>
            <div class="col-md-4 portfolio-block">
                <h3 class="portfolio-block-header">
                    <a class="c-l-1">
                        Разное
                    </a>
                </h3>
                <img src="~/images/Service/item3.jpg" />
                <div class="portfolio-block-description">
                    Здесь представлены все работы фотографа
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section class="about-us-section">
        <div class="row">
            <div class="col-md-9">
                <h2 class="c-t-4">
                    ПРИВЕТ! МЕНЯ ЗОВУТ МАРК ДЖОНСОН. ЭТО САЙТ ЛИЧНОГО ПОРТФОЛИО.
                </h2>
                <div>
                    Фотография для меня нечто большее, чем работа – способность увидеть живые эмоции, красоту и уникальность каждого человека. Фотографией я стала заниматься профессионально около 3х лет назад, и сейчас, оглядываясь назад и немножко заглядывая вперед, могу смело сказать, что любовь к творческим оригинальным фотографиям и ярким «застывшим в цифре» эмоциям становится с каждым годом только крепче.
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-round c-bg-6 c-l-1">Заказать услуги</button>
            </div>
        </div>
    </section>
    <hr />
    <section class="about-photo-section">
        <div class="row">
            <div class="col-md-6 flex">
                <div class="about-photo-image">
                    <img src="~/images/Icons/icon1.png" />
                </div>
                <div class="about-photo-description">
                    <h3 class="c-t-1">
                        СТУДИЙНЫЕ ФОТОГРАФИИ
                    </h3>
                    <div>
                        Просторство для творчества и отличный подарок для самовырожения
                    </div>
                </div>
            </div>
            <div class="col-md-6 flex">
                <div class="about-photo-image">
                    <img src="~/images/Icons/icon2.png" />
                </div>
                <div class="about-photo-description">
                    <h3 class="c-t-1">
                        СТУДИЙНЫЕ ФОТОГРАФИИ
                    </h3>
                    <div>
                        Просторство для творчества и отличный подарок для самовырожения
                    </div>
                </div>
            </div>
            <div class="col-md-6 flex">
                <div class="about-photo-image">
                    <img src="~/images/Icons/icon3.png" />
                </div>
                <div class="about-photo-description">
                    <h3 class="c-t-1">
                        СТУДИЙНЫЕ ФОТОГРАФИИ
                    </h3>
                    <div>
                        Просторство для творчества и отличный подарок для самовырожения
                    </div>
                </div>
            </div>
            <div class="col-md-6 flex">
                <div class="about-photo-image">
                    <img src="~/images/Icons/icon4.png" />
                </div>
                <div class="about-photo-description">
                    <h3 class="c-t-1">
                        СТУДИЙНЫЕ ФОТОГРАФИИ
                    </h3>
                    <div>
                        Просторство для творчества и отличный подарок для самовырожения
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>