@{
    ViewBag.Title = "Portfolio";
}

<div class="container-fluid img-background portfolio">
    <section class="">
        <h1 class="c-t-1">Портфолио</h1>
    </section>
</div>
<div class="container portfolio">
    <section>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a class="nav-link active" data-toggle="tab" href="#tab1">Мероприятия</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab2">Индивидуальные</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab3">Портреты</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab4">Тематические</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab5">Прочее</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab1">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="portfolio-image">
                                    <img src="~/images/Service/item4.jpg" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="portfolio-image">
                                    <img src="~/images/Service/item4.jpg" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="portfolio-image">
                                    <img src="~/images/Service/item4.jpg" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="portfolio-image">
                                    <img src="~/images/Service/item4.jpg" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="portfolio-image">
                                    <img src="~/images/Service/item4.jpg" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="portfolio-image">
                                    <img src="~/images/Service/item4.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        gjakjlfkdjlasjfadsf
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        гшн
                    </div>
                    <div class="tab-pane fade" id="tab4">
                        уцкйц
                    </div>
                    <div class="tab-pane fade" id="tab5">
                        фыва
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
